﻿

@model TemplateDemo.Models.NotificationList
@{Layout = null;}
    <script>
    function AfterAdd(e) {
        if (e.type == "create" || e.type == "destroy") {
            if (e.response == null || e.response.Errors == null) {
               CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultSuccess', 1);
            }
        }
    }
    function SetNew(di) {
        return di.isNew();
        }
        function GetCurrentNotificationListID() {
          var ddl = $("#EmployeeID").data("kendoDropDownList");

          return {
            text: ddl.filterInput.val(),
                        NotificationListID:@Model.NotificationListID
        };
        }
    </script>
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm((string)ViewBag.Action, "NotificationManager", FormMethod.Post, new { id = "NotificationForm" }))
            {
                <div class="kt-portlet kt-portlet--bordered">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @BAEClassLibrary.Resources.Form
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                @Html.Label(BAEClassLibrary.Resources.Notification + " ID")
                                @(Html.Kendo().TextBox().HtmlAttributes(new { @class = "form-control", disabled = "true" }).Value(Model.NotificationListID.ToString()).Name("DisplayKPIID"))
                                @(Html.Kendo().TextBoxFor(a => a.NotificationListID).HtmlAttributes(new { @class = "form-control", type = "hidden" }))
                            </div>
                            <div class="col-lg-6">
                                @Html.Label(BAEClassLibrary.Resources.Active)
                                <div class="kt-checkbox-inline">
                                    @(Html.Kendo().RadioButtonFor(a => a.Active).Name("Active").Checked(Model.Active ? true : false).HtmlAttributes(new { @name = "Active", style = "padding-left:25px" }).Label("Si").Value(true));
                                    @(Html.Kendo().RadioButtonFor(a => a.Active).Name("Active").Checked(Model.Active == false ? true : false).HtmlAttributes(new { @name = "Active" }).Label("No").Value(false));
                                    <span class="k-invalid-msg" data-for="Active"></span>
                                </div>
                            </div>
                        </div>
                        <div id="AdminArea">


                            <div class="form-group">
                                @Html.Label(BAEClassLibrary.Resources.AppName)
                                @(Html.Kendo().DropDownListFor(a => a.AppID)
                                   .Name("AppID")
                                   .AutoBind(true)
                                   .DataTextField("Text")
                                   .DataValueField("Value")
                                   .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                                   .DataSource(source =>
                                   {
                                       source.Read(read =>
                                       {
                                           read.Action("GetAppDrop", "NotificationManager")
                                           .Data("GetCurrentAppID");
                                       })
                                       .ServerFiltering(true);
                                   })
                                   .HtmlAttributes(new { style = "width: 100%", required = "required",data_required_msg = BAEClassLibrary.Resources.CantBeEmpty })
                                )
                                <span class="k-invalid-msg" data-for="AppID"></span>
                            </div>
                            <div class="form-group">
                                @Html.Label(BAEClassLibrary.Resources.Title)
                                @(Html.Kendo().TextBoxFor(a => a.Subject).HtmlAttributes(new { @class = "form-control", required = "required",data_required_msg = BAEClassLibrary.Resources.CantBeEmpty  }))
                                <span class="k-invalid-msg" data-for="Subject"></span>
                            </div>
                            <div class="form-group">
                                @Html.Label(BAEClassLibrary.Resources.Message)
                                @(Html.Kendo().TextBoxFor(a => a.Message).HtmlAttributes(new { @class = "form-control", required = "required",data_required_msg = BAEClassLibrary.Resources.CantBeEmpty  }))
                                <span class="k-invalid-msg" data-for="Message"></span>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    @Html.Label(BAEClassLibrary.Resources.NotificationType)
                                    @(Html.Kendo().DropDownListFor(a => a.NotificationType)
                                       .Name("NotificationType")
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                                       .BindTo(new List<SelectListItem>() {
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Notification,
                                               Value = "1"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Event,
                                               Value = "2"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Log,
                                               Value = "3"
                                           }
                                       })
                                       .HtmlAttributes(new { style = "width: 100%", required = "required",data_required_msg = BAEClassLibrary.Resources.CantBeEmpty  })
                                    )
                                    <span class="k-invalid-msg" data-for="NotificationType"></span>
                                </div>
                                <div class="col-lg-6">
                                    @Html.Label(BAEClassLibrary.Resources.AlertType)
                                    @(Html.Kendo().DropDownListFor(a => a.AlertType)
                                       .Name("AlertType")
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                                       .BindTo(new List<SelectListItem>() {
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Success,
                                               Value = "1"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Warning,
                                               Value = "2"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Danger,
                                               Value = "3"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Informative,
                                               Value = "4"
                                           },
                                           new SelectListItem() {
                                               Text = BAEClassLibrary.Resources.Brand,
                                               Value = "5"
                                           }
                                       })
                                        .Template("# if (data.Value == 1) { #" +
                                        "<h5 class='kt-font-success'>" + BAEClassLibrary.Resources.Success + "</h5>" +
                                                          "# } else if (data.Value == 2) { #" +
                                                            "<h5 class='kt-font-warning'>" + BAEClassLibrary.Resources.Warning + "</h5>" +
                                                             "# } else if (data.Value == 3) { #" +
                                                             "<h5 class='kt-font-danger'>" + BAEClassLibrary.Resources.Danger + "</h5>" +
                                                             "# } else if (data.Value == 4) { #" +
                                                              "<h5 class='kt-font-info'>" + BAEClassLibrary.Resources.Informative + "</h5>" +
                                                          "# } else { #" +
                                                              "<h5 class='kt-font-brand'>" + BAEClassLibrary.Resources.Brand + "</h5>" +
                                                          "# } #")
                                                              .ValueTemplate("# if (data.Value == 1) { #" +
                                        "<h5 class='kt-font-success'>" + BAEClassLibrary.Resources.Success + "</h5>" +
                                                          "# } else if (data.Value == 2) { #" +
                                                            "<h5 class='kt-font-warning'>" + BAEClassLibrary.Resources.Warning + "</h5>" +
                                                             "# } else if (data.Value == 3) { #" +
                                                             "<h5 class='kt-font-danger'>" + BAEClassLibrary.Resources.Danger + "</h5>" +
                                                             "# } else if (data.Value == 4) { #" +
                                                              "<h5 class='kt-font-info'>" + BAEClassLibrary.Resources.Informative + "</h5>" +
                                                          "# } else { #" +
                                                              "<h5 class='kt-font-brand'>" + BAEClassLibrary.Resources.Brand + "</h5>" +
                                                          "# } #")
                                       .HtmlAttributes(new { style = "width: 100%", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty })
                                    )
                                    <span class="k-invalid-msg" data-for="AlertType"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>@BAEClassLibrary.Resources.Icon <a class="fa fa-info-circle pull-right" data-container="body" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Tooltip title" href="https://keenthemes.com/metronic/preview/demo12/components/icons/fontawesome5.html" target="_blank"></a></label>
                                @(Html.Kendo().TextBoxFor(a => a.Icon).HtmlAttributes(new { @class = "form-control" }))
                                
                            </div>
                            <div class="form-group">
                                @Html.Label("Link")
                                @(Html.Kendo().TextBoxFor(a => a.Link).HtmlAttributes(new { @class = "form-control"  }))
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="button" class="btn btn-info " id="BtnBack" onclick="GoBack()"><i class="fa fa-angle-left"></i>@BAEClassLibrary.Resources.Back</button>
                            <button type="button" class="btn btn-primary" onclick="GetTabDetail(0)" disabled="@(!BAEClassLibrary.UserContext.current.IsAdmin)"><i class="fa fa-file"></i>@BAEClassLibrary.Resources.New</button>
                            <button type="button" class="btn btn-danger" id="BtnDelete" onclick="ShowDeleteConfirmation(@Model.NotificationListID)" disabled="@(!BAEClassLibrary.UserContext.current.IsAdmin||Model.NotificationListID==0)"><i class="fa fa-trash"></i>@BAEClassLibrary.Resources.Delete</button>
                            <div class=" pull-right">
                                <button type="submit" class="btn btn-brand" id="BtnSubmit">@BAEClassLibrary.Resources.Accept</button>
                                <button type="button" class="btn btn-secondary" onclick="GetTabDetail(@Model.NotificationListID)">@BAEClassLibrary.Resources.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.NotificationListID != 0)
        {
            <div class="col-lg-6">
                <div class="kt-portlet kt-portlet--bordered">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @BAEClassLibrary.Resources.Employee @BAEClassLibrary.Resources.List
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        @(Html.Kendo().Grid<TemplateDemo.Models.NotificationsEmployeeDestination>()
                                     .Name("gridNotEmployee")
                                .ToolBar(toolbar => { toolbar.Create(); })
                                       .ColumnMenu()
                                       .Scrollable()
                                       .AutoBind(true)
                                       .DataSource(data => data
                                       .Ajax()
                                       .PageSize(50)
                                       .Model(model =>
                                       {
                                           model.Id(a => a.NotificationsEmployeeDestinationID);
                                           model.Field(a => a.NotificationListID).Editable(false).DefaultValue(Model.NotificationListID);
                                           model.Field(a => a.EmployeeID);
                                           model.Field(a => a.Employees).DefaultValue(new TemplateDemo.Models.Employees());
                                           model.Field(a => a.NotificationList).DefaultValue(new TemplateDemo.Models.NotificationList());
                                       })

                                       .Read(read => read.Action("ReadNotificationEmployeeDestination", "NotificationManager", new { NotificationListID = Model.NotificationListID }))
                                       .Destroy(destroy => destroy.Action("DeleteNotificationEmployeeDestination", "NotificationManager"))
                                       .Create(c => c.Action("AddNotificationEmployeeDestination", "NotificationManager"))
                                       .Update(c => c.Action("asdf", "asdf"))
                                       .Events(a => a.Error("ShowError").RequestEnd("AfterAdd"))
                                       )
                                       .Columns(col =>
                                       {
                                           col.Bound(bo => bo.NotificationsEmployeeDestinationID).Hidden();
                                           col.Bound(bo => bo.NotificationListID).Hidden();
                                           col.Bound(bo => bo.EmployeeID).ClientTemplate("#=Employees.EmployeeNameViewChar#").EditorTemplateName("_EmployeeDropPartialView").Width(200).Title(BAEClassLibrary.Resources.Employee);
                                           col.Command(command =>
                                           {
                                               command.Edit().Template("<a role=\"button\" class=\"btn btn-info btn-sm btn-icon k-grid-edit\"> <i class=\"fa fa-plus\"></i></a>").Visible("SetNew");
                                               command.Destroy().Template("<a role=\"button\" class=\"btn btn-danger btn-sm btn-icon k-grid-delete\"> <i class=\"fa fa-trash\"></i></a>");
                                           }).Width(50).Title(@BAEClassLibrary.Resources.Options);
                                       })
                                       .Pageable(pageable => pageable
                                       .PageSizes(true)
                                       .Refresh(true)
                                       .ButtonCount(5)
                                       )
                                       .Pdf(pdf => pdf.Title("Export" + DateTime.Now.Date + ".pdf"))
                                       .Excel(xl =>
                                       {
                                           xl.FileName("Export" + DateTime.Now.Date + ".xlsx");
                                           xl.AllPages(true);
                                       })
                                       .Resizable(resize => resize.Columns(true))
                                       .HtmlAttributes(new { style = "height: 580px;" })
                        )
                    </div>
                </div>

            </div>
        }

    </div>
    <script>
        var validator;
    // disabled="@(!BAEClassLibrary.UserContext.current.IsAdmin)"
    $(function () {
        if ('@(!BAEClassLibrary.UserContext.current.IsAdmin)' == 'True') {
            var e = $('#AdminArea');
            e.find(':input').each(function () {
                this.disabled = true;
            });
            e.find('[data-role="dropdownlist"]').each(function () {
                $("#" + this.id).data("kendoDropDownList").enable(false);
            });
        }
        validator = $("#NotificationForm").kendoValidator().data("kendoValidator");
    });
    $("#NotificationForm").submit(function (e) {
        e.preventDefault();
         
        var formData = new FormData(this);
        if (validator.validate()) {
           $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    GetTabDetail(obj.ID);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + JSON.stringify(requestObject), 3);
            }
        });
        }
    });
    function ShowDeleteConfirmation(id) {
        var dialog = $("#deleteWindow").data("kendoWindow");
            dialog.refresh({
                url: "@(Url.Action("ShowDeleteConfirmation" , "NotificationManager"))" ,
                type: "POST",
                data: {id:@Model.NotificationListID}
            });
        dialog.open();
            }
        function CleanFormEdit() {
            CleanForm($("#NotificationForm"), '@(Url.Action("Create" , "NotificationManager" ))');
            $("#BtnDelete").attr("disabled", true);
    }


    </script>
