﻿<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">@BAEClassLibrary.Resources.Notifications <small>@BAEClassLibrary.Resources.Administrator @BAEClassLibrary.Resources.Of @BAEClassLibrary.Resources.Notifications</small></h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ListTab" role="tab">
                                <i class="fa fa-list"></i>
                                @BAEClassLibrary.Resources.List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#DetailTab" role="tab">
                                <i class="fa fa-file"></i>
                                @BAEClassLibrary.Resources.Detail
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="ListTab">
                        @(Html.Kendo().Grid<TemplateDemo.Models.NotificationList>()
                                           .Name("grid")
                                       .ToolBar(tools =>
                                       {
                                       tools.Template(@<text>
                                                    <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>@BAEClassLibrary.Resources.Export @BAEClassLibrary.Resources.To Excel</a>
                                                    <button class="k-button k-button-icontext" type="button" onclick="GetTabDetail(0)"><span class="k-icon k-i-add"></span>@BAEClassLibrary.Resources.New </button>

                                    </text>
);
                                       })
.ColumnMenu()
.Scrollable()
.AutoBind(true)
.DataSource(data => data
.Ajax()
.PageSize(50)
.Model(model =>
{
    model.Id(a => a.NotificationListID);
    model.Field(a => a.Apps.AppName).Editable(false);
    model.Field(a => a.Subject).Editable(false);
    model.Field(a => a.Message).Editable(false);
    model.Field(a => a.Active).Editable(false);
    model.Field(a => a.NotificationType).Editable(false);
    model.Field(a => a.AlertType).Editable(false);
    model.Field(a => a.Icon).Editable(false);
    model.Field(a => a.Link).Editable(false);
})

.Read(read => read.Action("ReadNotificationList", "NotificationManager",new { AppID = Model.AppID }))
.Events(a => a.Error("ShowError"))
)
.Columns(col =>
{
    col.Bound(bo => bo.NotificationListID).Hidden();
    col.Bound(bo => bo.Apps.AppName).Title(BAEClassLibrary.Resources.AppName);
    col.Bound(bo => bo.Subject).Title(BAEClassLibrary.Resources.Title);
    col.Bound(bo => bo.Message).Title(BAEClassLibrary.Resources.Message);
    col.Bound(bo => bo.Active).ClientTemplate(
                                                      "# if (Active == 0) { #" +
                                                      "<span class='kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;No</span>" +
                                                      "" +
                                                      "# } else  { #" +
                                                      "<span class='kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-check'></i>&nbsp;" + BAEClassLibrary.Resources.Yes + "</span>" +
                                                      "# } #"
                                                      ).Title(BAEClassLibrary.Resources.Active);
    col.Bound(bo => bo.NotificationType).ClientTemplate(
                                                      "# if (NotificationType == 1) { #" +
                                                      BAEClassLibrary.Resources.Notification +
                                                      "# } else if (NotificationType == 2) { #" +
                                                        BAEClassLibrary.Resources.Event +
                                                      "# } else { #" +
                                                       BAEClassLibrary.Resources.Log +
                                                      "# } #"
                                                      ).Title(BAEClassLibrary.Resources.NotificationType);
    col.Bound(bo => bo.AlertType).ClientTemplate(
                                                      "# if (AlertType == 1) { #" +
                                                       "<span class='kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;"+BAEClassLibrary.Resources.Success +"</span>"+
                                                      "# } else if (AlertType == 2) { #" +
                                                      "<span class='kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;"+BAEClassLibrary.Resources.Warning +"</span>"+
                                                         "# } else if (AlertType == 3) { #" +
                                                       "<span class='kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;"+BAEClassLibrary.Resources.Danger +"</span>"+
                                                         "# } else if (AlertType == 4) { #" +
                                                        "<span class='kt-badge kt-badge--info kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;"+BAEClassLibrary.Resources.Informative +"</span>"+
                                                      "# } else { #" +
                                                        "<span class='kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--md '><i class='fa fa-times'></i>&nbsp;"+BAEClassLibrary.Resources.Brand +"</span>"+
                                                      "# } #"
                                                      ).Title(BAEClassLibrary.Resources.AlertType);
    col.Bound(bo => bo.Icon).Title(BAEClassLibrary.Resources.Icon);
    col.Bound(bo => bo.Link);
    col.Command(command =>
    {
        //command.Custom(BAEClassLibrary.Resources.Detail + "PopUP").Click("ShowWindowEdit");
        command.Custom("Detail").Click("GetTabDetail").Template("<a role=\"button\" class=\"btn btn-info btn-sm btn-icon k-grid-Detail\"> <i class=\"fa fa-eye\"></i></a>");
    }).Width(170).Title(@BAEClassLibrary.Resources.Options);
})
.Pageable(pageable => pageable
.PageSizes(true)
.Refresh(true)
.ButtonCount(5)
)
.Pdf(pdf => pdf.Title("Export" + DateTime.Now.Date + ".pdf"))
.Excel(xl =>
{
    xl.FileName("Export" + DateTime.Now.Date + ".xlsx");
    xl.AllPages(true);
})
.Filterable(filter => filter.Mode(GridFilterMode.Row))
.Resizable(resize => resize.Columns(true))
.HtmlAttributes(new { style = "height: 670px;" })
                        )
                    </div>
                    <div class="tab-pane" id="DetailTab">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //Inicio de Documento
    $(function () {
        //Verificamos si existe notificacion para mostrar
        GetAnswerNShowIT(JSON.parse('@Html.Raw(ViewBag.AnswerResult)'));
        //Buscamos un detalle sin ID para traernos el HTML por si cambia de tab sin elegir elemento, que no aparezca en blanco el contenedor del tab
        GetPartialView("@(Url.Action("Detail" , "NotificationManager"))", 'DetailTab');

    });
    //Nos traemos la vista parcial con el objeto dentro
    function GetTabDetail(id) {
       ShowTabDetail(id,"@(Url.Action(""))",'NotificationListID')
    }
    function GetCurrentAppID() {
        return {
            AppID: @Model.AppID
        };
    }
</script>
