﻿
@model TemplateDemo.Models.NotificationList

@if (ViewBag.EntryFound)
{
    <p>@BAEClassLibrary.Resources.EntryFound</p>
}
else
{
    <div class="form-group row">
        <div class="col-sm-6">
            @Html.Label("ID Notification")
            @(Html.Kendo().TextBox().HtmlAttributes(new { @class = "form-control", disabled = "true" }).Value(Model.NotificationListID.ToString()).Name("DisplayKPIID"))
        </div>
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.Active)
            @(Html.Kendo().TextBox().Name("Activo").Value(Model.Active ? BAEClassLibrary.Resources.Yes : "No").HtmlAttributes(new { @class = "form-control", disabled = "true" }))
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.Title)
            @(Html.Kendo().TextBoxFor(a => a.Subject).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
        </div>
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.Message)
            @(Html.Kendo().TextBoxFor(a => a.Message).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.NotificationType)
            @(Html.Kendo().TextBox().Name("NotificationType").HtmlAttributes(new { @class = "form-control", disabled = "true", value = ViewBag.NotificationType }))
        </div>
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.AlertType)
            @(Html.Kendo().TextBox().Name("AlertType").HtmlAttributes(new { @class = "form-control", disabled = "true", value = ViewBag.AlertType }))

        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @Html.Label(BAEClassLibrary.Resources.Icon)
            @(Html.Kendo().TextBoxFor(a => a.Icon).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
        </div>
        <div class="col-sm-6">
            @Html.Label("Link")
            @(Html.Kendo().TextBoxFor(a => a.Link).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
        </div>
    </div>
}
<div class="form-group">
    @using (Html.BeginForm("Delete", "NotificationManager", FormMethod.Post, new { id = "NotificationListFormDelete" }))
    {
        @(Html.Kendo().TextBoxFor(a => a.NotificationListID).HtmlAttributes(new { @class = "form-control", type = "hidden" }))
        <div class=" pull-right">
            <button type="submit" class="btn btn-brand" disabled="@ViewBag.EntryFound" id="BtnSubmit">@BAEClassLibrary.Resources.Accept</button>
            <button type="button" class="btn btn-secondary" onclick="CloseWindow('deleteWindow')">@BAEClassLibrary.Resources.Cancel</button>
        </div>
    }
</div>

<script>
    $(function () {
        //centramos
        $("#deleteWindow").data("kendoWindow").center();

    });
     $("#NotificationListFormDelete").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    CloseWindow('deleteWindow');
                    GetPartialView("@(Url.Action("Detail" , "KPI"))", 'DetailTab');
                     $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (requestObject, error, errorThrown) {
                $("#deleteWindow").data("kendoWindow").close();
                CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + JSON.stringify(requestObject), 3);
            }
        });
     });

</script>

