﻿@{
    ViewBag.Kendo = "2019.3.917";
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BAE Systems | OpEx</title>
    <meta name="description" content="OpEx">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://apps.bae.gym:84/Resources/Content/font-google-apis/fontgoogleapi.css">
    <link rel="shortcut icon" href="https://apps.bae.gym:84/Resources/Content/baesystems/favicon.ico" />
    <!--end::Fonts -->
    <!--begin:: Kendo Mandatory Styles -->
    <link href="https://apps.bae.gym:84/Resources/Content/all.css" rel="stylesheet" type="text/css" />
    <!--end:: Kendo Mandatory Styles  -->
    <!--begin:: Global Mandatory Styles -->
    <link href="https://apps.bae.gym:84/Resources/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://apps.bae.gym:84/Resources/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <script src="https://apps.bae.gym:84/Resources/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="https://apps.bae.gym:84/Resources/Scripts/BaeMaster.js"></script>
    <link href="https://apps.bae.gym:84/Resources/Content/rocketchat-style.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Mandatory Styles -->
    <!--begin:: Kendo Mandatory Scripts -->
    <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/kendo.all.min.js" type="text/javascript"></script>
    <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/kendo.aspnetmvc.min.js" type="text/javascript"></script>
    <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/jszip.min.js" type="text/javascript"></script>
    <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/kendo.timezones.min.js" type="text/javascript"></script>
    @if (BAEClassLibrary.UserContext.current.Language == "es-ES")
    {
        <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/messages/kendo.messages.es-MX.min.js" type="text/javascript"></script>
        <script src="https://apps.bae.gym:84/Resources/Scripts/kendo/@ViewBag.Kendo/cultures/kendo.culture.es-MX.min.js" type="text/javascript"></script>
        <script>kendo.culture("@culture");</script>
    }
    <!--end:: Kendo Mandatory Scripts  -->
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed @BAEClassLibrary.UserContext.current.AsideMenu">
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="https://apps.bae.gym/BaseDatos/OpEx/Home">
                <img alt="Logo" src="https://apps.bae.gym:84/Resources/Content/baesystems/Opex.png" style="height:50px;width:180px">
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left"
                    id="kt_aside_mobile_toggler">
                <span></span>
            </button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler">
                <i class="flaticon-more"></i>
            </button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
                 id="kt_aside">
                <!-- begin:: Aside -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="https://apps.bae.gym/BaseDatos/OpEx/Home">
                            <img alt="Logo" src="https://apps.bae.gym:84/Resources/Content/baesystems/Opex.png" style="height:50px;width:180px">
                        </a>
                    </div>
                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler"><span></span></button>
                    </div>
                </div>
                <!-- end:: Aside -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
                         data-ktmenu-dropdown-timeout="500">
                        <ul class="kt-menu__nav" id="AsideMenuHere">
                            @Html.Raw(Session["MasterMenu"])
                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->
            </div>
            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu"
                             class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav " id="MenuNavBarHere">
                                @Html.Raw(Session["AppMenu"])
                            </ul>
                        </div>
                    </div>
                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">
                        <!--begin: Notifications -->
                        <div class="kt-header__topbar-item dropdown" id="NotificationDropdown">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px"
                                 aria-expanded="true">
                                <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">
                                    <i class="flaticon2-bell-alarm-symbol"></i>
                                    <span class="" id="NotificationBell"></span>
                                </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
                                <form>
                                    <!--begin: Head -->
                                    <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b"
                                         style="background-image: url(https://apps.bae.gym:84/Resources/Content/baesystems/bg-1.jpg)">
                                        <h3 class="kt-head__title">
                                            @BAEClassLibrary.Resources.Notifications
                                            &nbsp;
                                            <span class="btn btn-success btn-sm btn-bold btn-font-md"
                                                  id="NotificationNumber"></span>
                                        </h3>
                                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active show" data-toggle="tab"
                                                   href="#topbar_notifications_notifications" role="tab"
                                                   aria-selected="true">@BAEClassLibrary.Resources.Alerts</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab"
                                                   href="#topbar_notifications_events" role="tab"
                                                   aria-selected="false">@BAEClassLibrary.Resources.Events</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs"
                                                   role="tab" aria-selected="false">@BAEClassLibrary.Resources.Logs</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--end: Head -->
                                    <div class="tab-content">
                                        <div class="tab-pane active show " id="topbar_notifications_notifications"
                                             role="tabpanel">
                                            <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll"
                                                 data-scroll="true" data-height="300" data-mobile-height="200" id="topbar_notifications_notificationsList">
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                            <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
                                                <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                                    <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                                        @BAEClassLibrary.Resources.CommingSoon
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                            <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
                                                <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
                                                    <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                                                        @BAEClassLibrary.Resources.CommingSoon
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--end: Notifications -->
                        <!--begin: Language bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <span class="kt-header__topbar-icon">
                                    <img class="" src="https://apps.bae.gym:84/Resources/assets/media/flags/@(BAEClassLibrary.UserContext.current.Language == "es-ES"?"252-mexico.svg": "226-united-states.svg" )" alt="" />
                                </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
                                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                    <li class="kt-nav__item" onclick="SetLanguage('es-ES')">
                                        <a class="kt-nav__link">
                                            <span class="kt-nav__link-icon @(BAEClassLibrary.UserContext.current.Language == "es-ES"?"kt-nav__item--active": "" )">
                                                <img src="https://apps.bae.gym:84/Resources/assets/media/flags/252-mexico.svg" alt="" />
                                            </span>
                                            <span class="kt-nav__link-text">@BAEClassLibrary.Resources.Spanish</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item " onclick="SetLanguage('en')">
                                        <a class="kt-nav__link">
                                            <span class="kt-nav__link-icon @(BAEClassLibrary.UserContext.current.Language == "en"?"kt-nav__item--active": "" )">
                                                <img src="https://apps.bae.gym:84/Resources/assets/media/flags/226-united-states.svg"
                                                     alt="" />
                                            </span>
                                            <span class="kt-nav__link-text">@BAEClassLibrary.Resources.English</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end: Language bar -->
                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <div class="kt-header__topbar-user">
                                    <span class="kt-header__topbar-welcome kt-hidden-mobile">@BAEClassLibrary.Resources.Hi</span>
                                    <span class="kt-header__topbar-username kt-hidden-mobile">@BAEClassLibrary.UserContext.current.DisplayName</span>
                                    <img alt="Pic" class="kt-radius-100" src="https://apps.bae.gym/Content/Images/staff_employees/@(BAEClassLibrary.UserContext.current.EmployeeNum).jpg" />
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                                     style="background-image: url(https://apps.bae.gym:84/Resources/assets/media/misc/bg-1.jpg)">
                                    <div class="kt-user-card__avatar">
                                        <img class="kt-hidden" alt="Pic" src="https://apps.bae.gym:84/Resources/assets/media/users/300_25.jpg" />

                                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-brand">@BAEClassLibrary.UserContext.current.DisplayName[0]</span>
                                    </div>
                                    <div class="kt-user-card__name">
                                        @BAEClassLibrary.UserContext.current.DisplayName
                                    </div>
                                </div>
                                <!--end: Head -->
                                <!--begin: Navigation -->
                                <div class="kt-notification">
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title kt-font-bold">
                                                @BAEClassLibrary.Resources.My @BAEClassLibrary.Resources.Profile
                                            </div>
                                            <div class="kt-notification__item-time">
                                                @BAEClassLibrary.Resources.Account @BAEClassLibrary.Resources.Settings.ToLower() @BAEClassLibrary.Resources.And.ToLower() @BAEClassLibrary.Resources.More
                                            </div>
                                        </div>
                                    </a>
                                    <div class="kt-notification__custom kt-space-between">
                                        <a href="@(Url.Action("Logout" , "Home"))" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                                        @*<a href="demo12/custom/user/login-v2.html" target="_blank"
                                            class="btn btn-clean btn-sm btn-bold">Upgrade Plan</a>*@
                                    </div>
                                </div>
                                <!--end: Navigation -->
                            </div>
                        </div>
                        <!--end: User Bar -->
                    </div>
                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                        <div class="kt-container  kt-container--fluid ">
                            <div class="kt-subheader__main">
                            </div>
                            <div class="kt-subheader__toolbar" id="subheaderdiv">
                            </div>
                        </div>
                    </div>
                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

                        @RenderBody()

                    </div>
                    <!-- end:: Content -->
                </div>
                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright kt-footer__menu">
                            2019&nbsp;&copy;&nbsp;<a href="https://apps.bae.gym/" target="_blank" class="kt-link">BAE Systems Guaymas</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a class="kt-footer__menu-link kt-link" href="https://apps.bae.gym/" target="_blank">
                                <img src="https://apps.bae.gym:84/Resources/Content/baesystems/bae.jpeg" style="
                                    width:125px;
                                    height:25px;">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
                <span class="title bae-font">
                    @*BAE Messenger*@
                </span>
                <button class="close-rocketchat-iframe">
                    <i class="k-icon k-i-close" aria-hidden="true"></i>
                </button>
            </div>
            <button id="buttonMax" style="top: 6px; right: 20px; position:absolute; z-index:999;" onclick="window.open('https://chat.bae.gym/home');">
                <i class="k-icon k-i-hyperlink-open-sm" aria-hidden="true"></i>
            </button>
            <div class="iframe">
                <iframe src="https://chat.bae.gym/home" height="800" frameborder="0">
                    <p>Your browser does not support iframes.</p>
                </iframe>

            </div>

            <div class="footer" hidden>
                <div class="text-box" contenteditable="true" disabled="true" hidden></div>
            </div>
        </div>
    </div>
    <div class="push"></div>
    @(Html.Kendo().Window()
       .Name("deleteWindow")
       .Title(@BAEClassLibrary.Resources.DeleteConfirmationTitle)
       .Width(800)
       //.Height(600)
       .Resizable()
       .Visible(false)
       .Modal(true)
       .Events(ev => ev.Open("WindowToCenter"))
       .Actions(actions => actions.Close())
    )
    <div class="NotEmplpyeeID" id="@BAEClassLibrary.UserContext.current.EmployeeID" style="display:none"></div>
    <!-- end:: Page -->
    <!--begin::Global Theme Bundle -->
    <script src="https://apps.bae.gym:84/Resources/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="https://apps.bae.gym:84/Resources/Scripts/MenuSelector.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Global Notification -->
    <script type="text/javascript" src="https://apps.bae.gym:84/Resources/Scripts/jquery.signalR-2.4.1.js"></script>
    <script type="text/javascript" src="https://apps.bae.gym:84/BAEAPI/signalr/hubs"></script>
    <script type="text/javascript" src="https://apps.bae.gym:84/Resources/Scripts/NotificationsMetronic.js"></script>
    <script type="text/javascript" src="https://apps.bae.gym:84/Resources/Scripts/rocketchat-script.js"></script>

    <!--end::Global Notification -->
</body>
</html>
