﻿
@model TemplateDemo.Models.KPIS
@{Layout = null;}
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm((string)ViewBag.Action, "KPI", FormMethod.Post, new { id = "KPIForm" }))
            {
                <div class="kt-portlet kt-portlet--bordered">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @BAEClassLibrary.Resources.Form
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group">
                            @Html.Label("ID KPI")
                            @(Html.Kendo().TextBox().HtmlAttributes(new { @class = "form-control", disabled = "true" }).Value(Model.KPIID.ToString()).Name("DisplayKPIID"))
                            @(Html.Kendo().TextBoxFor(a => a.KPIID).HtmlAttributes(new { @class = "form-control", type = "hidden" }))
                        </div>
                        <div class="form-group">
                            @Html.Label(BAEClassLibrary.Resources.AppName)
                            @(Html.Kendo().DropDownListFor(a => a.AppName)
                               .Name("AppName")
                               .DataTextField("Text")
                               .DataValueField("Value")
                               .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                               .Filter("contains")
                               .BindTo((System.Collections.IEnumerable)ViewBag.AppName)
                               .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </div>
                        <div class="form-group">
                            @Html.Label(BAEClassLibrary.Resources.Name)
                            @(Html.Kendo().TextBoxFor(a => a.KPIName).HtmlAttributes(new { @class = "form-control" }))
                        </div>
                        <div class="form-group">
                            @Html.Label(BAEClassLibrary.Resources.Description)
                            @(Html.Kendo().TextBoxFor(a => a.KPIDescription).HtmlAttributes(new { @class = "form-control" }))
                        </div>
                        <div class="form-group">
                            @Html.Label("Url")
                            @(Html.Kendo().TextBoxFor(a => a.Url).HtmlAttributes(new { @class = "form-control" }))
                        </div>
                        <div class="form-group">
                            @Html.Label(BAEClassLibrary.Resources.Active)
                            <div class="kt-checkbox-inline">
                                @(Html.Kendo().RadioButtonFor(a => a.Active).Name("Active").Checked(Model.Active ? true : false).HtmlAttributes(new { @name = "Active", style = "padding-left:25px" }).Label("Si").Value(true));
                                @(Html.Kendo().RadioButtonFor(a => a.Active).Name("Active").Checked(Model.Active == false ? true : false).HtmlAttributes(new { @name = "Active" }).Label("No").Value(false));
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="button" class="btn btn-info " id="BtnBack" onclick="GoBack()"><i class="fa fa-angle-left"></i>@BAEClassLibrary.Resources.Back</button>
                            <button type="button" class="btn btn-primary" onclick="CleanFormEdit()"><i class="fa fa-file"></i>@BAEClassLibrary.Resources.New</button>
                            <button type="button" class="btn btn-danger" id="BtnDelete" onclick="ShowDeleteConfirmation(@Model.KPIID)"><i class="fa fa-trash"></i>@BAEClassLibrary.Resources.Delete</button>
                            <button type="button" class="btn btn-info">@BAEClassLibrary.Resources.Next &nbsp;<i class="fa fa-angle-right"></i></button>
                            <div class=" pull-right">
                                <button type="submit" class="btn btn-brand" id="BtnSubmit">@BAEClassLibrary.Resources.Accept</button>
                                <button type="button" class="btn btn-secondary" onclick="GetTabDetail(@Model.KPIID)">@BAEClassLibrary.Resources.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
    <script>
    $("#KPIForm").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    GetTabDetail(obj.ID);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + requestObject, 3);
            }
        });
    });
    function ShowDeleteConfirmation(id) {
        var dialog = $("#deleteWindow").data("kendoWindow");
            dialog.refresh({
                url: "@(Url.Action("ShowDeleteConfirmation" , "KPI"))" ,
                type: "POST",
                data: {id:@Model.KPIID}
            });
        dialog.open();
            }
        function CleanFormEdit() {
            CleanForm($("#KPIForm"), '@(Url.Action("Create" , "KPI" ))');
            $("#BtnDelete").attr("disabled", true);
        }
    </script>
