﻿<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">KPIS <small>@BAEClassLibrary.Resources.Administrator @BAEClassLibrary.Resources.Of KPIS</small></h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#ListTab" role="tab">
                                <i class="fa fa-list"></i>
                                @BAEClassLibrary.Resources.List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#DetailTab" role="tab">
                                <i class="fa fa-file"></i>
                                @BAEClassLibrary.Resources.Detail
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="ListTab">
                        @(Html.Kendo().Grid<TemplateDemo.Models.KPIViewModel>()
                                           .Name("grid")
                                       .ToolBar(tools =>
                                       {
                                       tools.Template(@<text>
                                                    <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>@BAEClassLibrary.Resources.Export @BAEClassLibrary.Resources.To Excel</a>
                                                    <button class="k-button k-button-icontext" type="button" onclick="GetTabDetail(0)"><span class="k-icon k-i-add"></span>@BAEClassLibrary.Resources.New </button>
                                                    <div class="pull-right">
                                                        <label class="category-label"> @BAEClassLibrary.Resources.From  &nbsp;&nbsp;</label>
                                                        @(Html.Kendo().DatePicker()
                                                                   .Name("Inicio")
                                                                   .Value(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))
                                                                   .Min("01/01/2018")
                                                        )
                                                        <label class="category-label"> &nbsp;&nbsp;&nbsp; @BAEClassLibrary.Resources.To &nbsp;&nbsp;&nbsp; </label>
                                                        @(Html.Kendo().DatePicker()
                                                                    .Name("Final")
                                                                    .Value((new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).AddMonths(1).AddDays(-1))
                                                                    .Min("07/01/2018")
                                                        )
                                                        <a id="btnSearch" class="k-button k-button-icontext" href="#"><span class="glyphicon glyphicon-search"></span> @BAEClassLibrary.Resources.Search </a>
                                                    </div>
                                    </text>
);
   })
.ColumnMenu()
.Scrollable()
.AutoBind(true)
.DataSource(data => data
.Ajax()
.PageSize(50)
.Model(model =>
{
model.Id(a => a.KPIID);
model.Field(a => a.AppName).Editable(false);
model.Field(a => a.KPIName).Editable(false);
model.Field(a => a.Url).Editable(false);
model.Field(a => a.Active).Editable(false);
model.Field(a => a.KPIDescription).Editable(false);
})

.Read(read => read.Action("ReadKPIS", "KPI"))
.Events(a => a.Error("ShowError"))
)
.Columns(col =>
{
col.Bound(bo => bo.KPIID);
col.Bound(bo => bo.AppName);
col.Bound(bo => bo.KPIName);
col.Bound(bo => bo.Url);
col.Bound(bo => bo.Active);
col.Bound(bo => bo.KPIDescription);

col.Command(command =>
{
//command.Custom(BAEClassLibrary.Resources.Detail + "PopUP").Click("ShowWindowEdit");
command.Custom("Detail").Click("GetTabDetail").Template("<a role=\"button\" class=\"btn btn-info btn-sm btn-icon k-grid-Detail\"> <i class=\"fa fa-eye\"></i></a>");
}).Width(170).Title(@BAEClassLibrary.Resources.Options);
})
.Pageable(pageable => pageable
.PageSizes(true)
.Refresh(true)
.ButtonCount(5)
)
.Pdf(pdf => pdf.Title("Export" + DateTime.Now.Date + ".pdf"))
.Excel(xl =>
{
xl.FileName("Export" + DateTime.Now.Date + ".xlsx");
xl.AllPages(true);
})
.Filterable(filter => filter.Mode(GridFilterMode.Row))
.Resizable(resize => resize.Columns(true))
.HtmlAttributes(new { style = "height: 670px;" })
                        )
                    </div>
                    <div class="tab-pane" id="DetailTab">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //Inicio de Documento
    $(function () {
        //Verificamos si existe notificacion para mostrar
        GetAnswerNShowIT(JSON.parse('@Html.Raw(ViewBag.AnswerResult)'));
        //Buscamos un detalle sin ID para traernos el HTML por si cambia de tab sin elegir elemento, que no aparezca en blanco el contenedor del tab
        GetPartialView("@(Url.Action("Detail" , "KPI"))", 'DetailTab');

    });
    //Nos traemos la vista parcial con el objeto dentro
    function GetTabDetail(id) {
       ShowTabDetail(id,"@(Url.Action(""))",'KPIID')
    }
</script>
