﻿@model IEnumerable<TemplateDemo.Models.DashboardUser>

<link href="https://apps.bae.gym:84/assets/vendors/general/gridstack.js-develop/src/gridstack.css" rel="stylesheet" />
<script src="https://apps.bae.gym:84/assets/vendors/general/gridstack.js-develop/src/jquery-ui.js"></script>
<script src="https://apps.bae.gym:84/assets/vendors/general/gridstack.js-develop/src/gridstack.js"></script>
<script src="https://apps.bae.gym:84/assets/vendors/general/gridstack.js-develop/src/gridstack.jQueryUI.js"></script>
<script>
    GetPartialView("@(Url.Action("dashboardheader" , "KPI"))", 'subheaderdiv');
</script>
<div class="grid-stack">
    @foreach (var item in Model)
    {
        <div class="grid-stack-item" id="gridItem@(item.DashboardID)"
             data-gs-x="@item.datax" data-gs-y="@item.datay"
             data-gs-width="@item.dataw" data-gs-height="@item.datah" data-gs-id="grid-stack-item@(item.DashboardID)">
            <div class="grid-stack-item-content" id="gridContet@(item.DashboardID)">
                <script>
                    var type = undefined;
                    var target = 'gridContet@(item.DashboardID)';
                    $.ajax({
                        type: "POST",
                        cache: false,
                        async: false,
                        crossDomain: true,
                        xhrFields: {
                            withCredentials: true
                        },
                       // url: '@item.KPIS.Url', beforeSend: function () {
                        url: '@Html.Raw(item.KPIS.Url)', beforeSend: function () {
                        }
                    }).done(function (data) {
                        @*data = data.replace('#chart', "#chart@(item.DashboardID)");
                        data = data.replace('id="chart"', 'id="chart@(item.DashboardID)"');
                        data = data.replace('createChart', 'createChart@(item.DashboardID)');
                        data = data.replace('FilterByArea', 'createChart@(item.DashboardID)');*@
                        data = data.replace('#chart', "#chart@(item.DashboardID)");
                        data = data.replace('id="chart"', 'id="chart@(item.DashboardID)"');
                        data = data.replace(/createChart/g, 'createChart@(item.DashboardID)');
                        data = data.replace(/FilterByArea/g, 'FilterByArea@(item.DashboardID)');
                        data = data.replace(/PieChart/g, 'PieChart@(item.DashboardID)');


                        @*data = data.replace('(createChart)', '(createChart@(item.DashboardID))');
                        data = data.replace('createChart)', 'createChart@(item.DashboardID))');*@
                        if (type == undefined || type == 'html') {
                            $('#' + target).html(data).ready().fadeIn("slow");
                        }
                        else if (type == 'append') {
                            $('#' + target).append(data).ready().fadeIn("slow");
                        }
                        else if (type == 'html') {
                            return JSON.stringify(data);
                        }

                    }).fail(function (data) {
                        alert('Fail Get PartialView');
                    });
                </script>
            </div>
        </div>
    }
</div>

<script id="noDataTemplate" type="text/x-kendo-tmpl">
    <div>
        No data found. Do you want to add new item - '#: instance.filterInput.val() #' ?
    </div>
    <br />
    <button class="k-button" onclick="addNew('#: instance.element[0].id #', '#: instance.filterInput.val() #')">Add new item</button>
</script>


<script type="text/javascript">


    $(function () {
        GetAnswerNShowIT(JSON.parse('@Html.Raw(ViewBag.AnswareResult)'));

        var options = {
            removable: '.kt-aside',
            removeTimeout: 100,
            cellHeight: 80,
            verticalMargin: 10,
             resizable: {
        handles: 'se, sw'
    }
        };
        $('.grid-stack').gridstack(options);
        $('.grid-stack').on('gsresizestop', function (event, elem) {
            var id = $(elem).attr('id');
            $(elem).find('.k-chart').each(function () {
                $("#" + this.id).data("kendoChart").refresh();
            });
        });
    });
      $('.grid-stack').on('change', function (event, items) {
            serializeWidgetMap(items);
        });
        $('.grid-stack').on('removed', function (event, items) {
            if (items != undefined) {
                 for (var i = 0; i < items.length; i++) {
                var dulist = {
                    DashboardID: parseInt(items[i].id.replace('grid-stack-item', ''))
                };
                $.ajax({
                    type: "POST",
                    cache: false,
                    contentType: 'application/json',
                    data: JSON.stringify(dulist),
                    url: "@(Url.Action("MyDashboardDelete" , "KPI"))", beforeSend: function () {
                    }
                }).done(function (data) {
                    GetAnswerNShowIT(data);
                }).fail(function (data) {
                    return 'Fail Get PartialView';
                });
            }
            }

        });
    var serializeWidgetMap = function (items) {

        if (items != undefined) {
            var listDash = [];
            for (var i = 0; i < items.length; i++) {
                var predashboard = {
                    DashboardID: parseInt(items[i].id.replace('grid-stack-item', '')),
                    x: parseInt(items[i].x),
                    y: parseInt(items[i].y),
                    h: parseInt(items[i].height),
                    w: parseInt(items[i].width)
                };
                listDash.push(predashboard);
            }
            $.ajax({
                type: "POST",
                cache: false,
                contentType: 'application/json',
                data: JSON.stringify({ listDash: listDash }),
                url: "@(Url.Action("MyDashboardResize" , "KPI"))", beforeSend: function () {
                }
            }).done(function (data) {
                GetAnswerNShowIT(data);
            }).fail(function (data) {
               CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + data, 3);
            });
        }


    };
    function AddKPI() {
        var dropdownlist = $("#KPIID").data("kendoDropDownList");
        var kpiid = dropdownlist.value();
        $.ajax({
            type: "POST",
            cache: false,
            data: { kpiid: parseInt(kpiid) },
            url: "@(Url.Action("AddKPI" , "KPI"))", beforeSend: function () {
            }
        }).done(function (data) {
            GetAnswerNShowIT(data);
            var grid = $('.grid-stack').data('gridstack');
            var htmloski = "";
            $.ajax({
                type: "POST",
                cache: false,
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                url: data.Text, beforeSend: function () {
                }
            }).done(function (data1) {
                data1 = data1.replace('#chart', "#chart" + data.ID);
                data1 = data1.replace('id="chart"', 'id="chart' + data.ID + '"');
                data1 = data1.replace(/createChart/g, 'createChart' + data.ID);
                data1 = data1.replace(/FilterByArea/g, 'FilterByArea' + data.ID);
                data1 = data1.replace(/PieChart/g, 'PieChart'+ data.ID);
                htmloski = data1;

                //var el = $.parseHTML("<div><div class=\"grid-stack-item-content\" id=\"grid-stack-item\"" + data.ID+">" + htmloski + "</div>");
                var el = $.parseHTML("<div><div class=\"grid-stack-item-content\" id=\"grid-stack-item" + data.ID+"\"></div>");

                grid.addWidget(el, 0, 0, 3, 3, true, 1, 11, 1, 11, "grid-stack-item" + data.ID);
                $('#grid-stack-item' + data.ID).html(htmloski).ready().fadeIn("slow");
            }).fail(function (data1) {
                CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + data1, 3);
            });
        }).fail(function (data) {
            CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + data, 3);
        })
    }
    setTimeout(function () {
        location.reload();
    }, 90000);
</script>

