﻿@model TemplateDemo.Models.KPIS

    @if (ViewBag.EntryFound)
    {
        <p>@BAEClassLibrary.Resources.EntryFound</p>
    }
    else
    {
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.Label("ID KPI")
                @(Html.Kendo().TextBox().HtmlAttributes(new { @class = "form-control", disabled = "true" }).Value(Model.KPIID.ToString()).Name("DisplayKPIID"))
            </div>
            <div class="col-sm-6">
                @Html.Label(BAEClassLibrary.Resources.AppName)
                @(Html.Kendo().TextBoxFor(a => a.AppName).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.Label(BAEClassLibrary.Resources.Name)
                @(Html.Kendo().TextBoxFor(a => a.KPIName).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
            </div>
            <div class="col-sm-6">
                @Html.Label(BAEClassLibrary.Resources.Description)
                @(Html.Kendo().TextBoxFor(a => a.KPIDescription).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.Label("Url")
                @(Html.Kendo().TextBoxFor(a => a.Url).HtmlAttributes(new { @class = "form-control", disabled = "true" }))
            </div>
            <div class="col-sm-6">
                @Html.Label(BAEClassLibrary.Resources.Active)
                @(Html.Kendo().TextBox().Name("Activo").Value(Model.Active ? BAEClassLibrary.Resources.Yes : "No").HtmlAttributes(new { @class = "form-control", disabled = "true" }))
            </div>
        </div>
    }
    <div class="form-group">
        @using (Html.BeginForm("Delete", "KPI", FormMethod.Post, new { id = "KPIFormDelete" }))
        {
            @(Html.Kendo().TextBoxFor(a => a.KPIID).HtmlAttributes(new { @class = "form-control", type = "hidden" }))
            <div class=" pull-right">
                <button type="submit" class="btn btn-brand" disabled="@ViewBag.EntryFound" id="BtnSubmit">@BAEClassLibrary.Resources.Accept</button>
                <button type="button" class="btn btn-secondary" onclick="CloseWindow('deleteWindow')">@BAEClassLibrary.Resources.Cancel</button>
            </div>
        }
    </div>  

<script>
    $(function () {
        //centramos
        $("#deleteWindow").data("kendoWindow").center();

    });
     $("#KPIFormDelete").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    CloseWindow('deleteWindow');
                    GetPartialView("@(Url.Action("Detail" , "KPI"))", 'DetailTab');
                     $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (requestObject, error, errorThrown) {
                $("#deleteWindow").data("kendoWindow").close();
                CreateAnswerNShowIt('@BAEClassLibrary.Resources.AnswerResultError' + requestObject, 3);
            }
        });
     });

    </script>

