﻿<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
            <div class="kt-portlet__head ">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">@BAEClassLibrary.Resources.Menu <small>@BAEClassLibrary.Resources.Administrator @BAEClassLibrary.Resources.Of @BAEClassLibrary.Resources.Menu</small></h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="kt-portlet kt-portlet--bordered">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon2-laptop"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        @BAEClassLibrary.Resources.Department
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <form>
                                    <div class="form-group">
                                        @(Html.Kendo().DropDownList()
                                          .Name("DepartmentSelector")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                           .OptionLabel(BAEClassLibrary.Resources.SelectOption)

                                            .Filter("contains")
                                          .BindTo((System.Collections.IEnumerable)ViewBag.Department)
                                          .HtmlAttributes(new { style = "width: 100%",id="DepartmentSelector" })
                                          .Events(events => events
                                                        .Change("DepartmentChange")
                                               )
                                        )
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="kt-portlet kt-portlet--bordered">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        @BAEClassLibrary.Resources.Layout @BAEClassLibrary.Resources.Menu
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body" id="ShowMenu">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="kt-portlet kt-portlet--bordered">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="fa fa-lock-open"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        @BAEClassLibrary.Resources.Access @BAEClassLibrary.Resources.Menu
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body" id="ShowPermission">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="" id="employees">@BAEClassLibrary.Resources.Group</label>
                                        <br />
                                        @(Html.Kendo().ListBox()
                                                  .Name("GroupsList")
                                                  .Toolbar(toolbar =>
                                                  {
                                                      toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                                                      toolbar.Tools(tools => tools
                                                          .TransferTo()
                                                          .TransferFrom()
                                                      );
                                                  })
                                                  .ConnectWith("AccessList")
                                                  .Selectable(ListBoxSelectable.Multiple)
                                                  .Draggable()
                                                  .AutoBind(false)
                                                  .DropSources("AccessList")
                                                  .DataTextField("Permission")
                                                  .DataValueField("Id")
                                                  .DataSource(source => source
                                                      .Read(read => read.Action("GetAvailableGroups", "Menu").Data("GetMenuID"))
                                                  )
                                                  .Events(events => events
                                                      .Add("onAddList")
                                                  )
                                                  .HtmlAttributes(new { style = "width: 100%;min-height:430px" })
                                        )


                                    </div>
                                    <div class="col-lg-6">

                                        <label for="">@BAEClassLibrary.Resources.Access</label>
                                        <br />


                                        @(Html.Kendo().ListBox()
                                            .Name("AccessList")
                                            .ConnectWith("GroupsList")
                                            .Selectable(ListBoxSelectable.Multiple)
                                            .Draggable()
                                            .AutoBind(false)
                                            .DropSources("GroupsList")
                                            .DataTextField("Permission")
                                            .DataValueField("Id")
                                            .DataSource(source => source
                                                      .Read(read => read.Action("GetAvailablePermissions", "Menu").Data("GetMenuID"))
                                                  )
                                            .Events(events => events
                                                .Add("onAddList")
                                            )
                                            .HtmlAttributes(new { style = "width: 100%;min-height:430px" })
                                        )
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="kt-portlet kt-portlet--bordered">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon2-paper"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        @BAEClassLibrary.Resources.Detail  @BAEClassLibrary.Resources.Menu
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body" id="ShowMenu">
                                <form id="CreateMenuForm" action="/Menu/CreateMenu">
                                    <div class="form-group">
                                        @Html.Label(@BAEClassLibrary.Resources.English + " " + @BAEClassLibrary.Resources.Description)
                                        @(Html.Kendo().TextBox().Name("MenuNameEn").HtmlAttributes(new { @class = "form-control", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty }))
                                        <span class="k-invalid-msg" data-for="MenuNameEn"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label(@BAEClassLibrary.Resources.Spanish + " " + @BAEClassLibrary.Resources.Description)
                                        @(Html.Kendo().TextBox().Name("MenuNameSp").HtmlAttributes(new { @class = "form-control", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty }))
                                        <span class="k-invalid-msg" data-for="MenuNameSp"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Href")
                                        @(Html.Kendo().TextBox().Name("MenuHref").HtmlAttributes(new { @class = "form-control" }))
                                    </div>
                                    <div class="form-group">
                                        @Html.Label(@BAEClassLibrary.Resources.Menu + " " + @BAEClassLibrary.Resources.Icon)
                                        @(Html.Kendo().TextBox().Name("MenuIcon").HtmlAttributes(new { @class = "form-control" }))
                                    </div>
                                    <div class="form-group">
                                        @Html.Label(@BAEClassLibrary.Resources.Department)
                                        @(Html.Kendo().DropDownList()
                                          .Name("MenuDepartment")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                           .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                                           .NoDataTemplateId("noDataTemplate")
                                            .Filter("contains")
                                          .BindTo((System.Collections.IEnumerable)ViewBag.Department)
                                          .HtmlAttributes(new { style = "width: 100%", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty })

                                        )
                                        @* @(Html.Kendo().TextBox().Name("MenuDepartment").HtmlAttributes(new { @class = "form-control", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty })) *@
                                        <span class="k-invalid-msg" data-for="MenuDepartment"></span>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label(@BAEClassLibrary.Resources.AppName)
                                        @(Html.Kendo().DropDownList()
                                          .Name("AppsFromForm")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                           .OptionLabel(BAEClassLibrary.Resources.SelectOption)
                                            .Filter("contains")
                                              .NoDataTemplateId("noDataTemplate")
                                          .BindTo((System.Collections.IEnumerable)ViewBag.Apps)
                                          .HtmlAttributes(new { style = "width: 100%" })

                                        )
                                        @* @(Html.Kendo().TextBox().Name("MenuDepartment").HtmlAttributes(new { @class = "form-control", required = "required", data_required_msg = BAEClassLibrary.Resources.CantBeEmpty })) *@
                                        <span class="k-invalid-msg" data-for="AppsFromForm"></span>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="NewMenu()"><i class="fa fa-file"></i>@BAEClassLibrary.Resources.New</button>
                                    <div class=" pull-right">
                                        <button type="submit" class="btn btn-brand">@BAEClassLibrary.Resources.Accept</button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script id="noDataTemplate" type="text/x-kendo-tmpl">
    <div>
        No data found. Do you want to add new item - '#: instance.filterInput.val() #' ?
    </div>
    <br />
    <button class="k-button" onclick="addNew('#: instance.element[0].id #', '#: instance.filterInput.val() #')">Add new item</button>
</script>
<script>
    $(document).on("click", ".delete-link", function (e) {
        e.preventDefault();
        var r = confirm("Seguro que desea borrar el elemento?");
        if (r) {
       $.ajax({
            url: "@(Url.Action("DeleteMenu" , "Menu"))" ,
            type: 'POST',
            data: JSON.stringify({
                MenuID: parseInt(MenuID)
            }),
            contentType: 'application/json',
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {

                     var treeview = $("#treeview").data("kendoTreeView");
                     treeview.remove($(this).closest(".k-item"));
                   CleanForm($("#CreateMenuForm"), "@(Url.Action("Create" , "Menu"))");
                     $("#MenuDepartment").data("kendoDropDownList").value(0);
                     $("#AppsFromForm").data("kendoDropDownList").value(0);
                    GetPartialView('/Menu/ShowMenu?DepartmentName=' + $('#DepartmentSelector').data("kendoDropDownList").text(), 'ShowMenu');
                    MenuID == 0;
                    $("#GroupsList").data("kendoListBox").remove($("#GroupsList").data("kendoListBox").items());
                    $("#AccessList").data("kendoListBox").remove($("#AccessList").data("kendoListBox").items());
                }
            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(requestObject), 3);
            }
        });
        }

    NotificationSearchStart()
    });
     var validator = $("#CreateMenuForm").kendoValidator().data("kendoValidator");
    var MenuID = 0;
    function GetMenuID() {
        var tv = $('#treeview').data('kendoTreeView');
        return {
            MenuID: MenuID
        };
    }
    function onCheck(e) {
        $.ajax({
            type: "POST",
            cache: false,
            data: {
                DropedID: this.dataItem(e.node).id,
                Active: this.dataItem(e.node).checked
            },
            url: "@(Url.Action("OnCheck" , "Menu"))", beforeSend: function () {
            }
        }).done(function (data) {
            GetAnswerNShowIT(data);
        }).fail(function (data) {
            CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(data), 3);
        });
    }
    function onDrop(e) {
        if (e.valid) {
            $.ajax({
                type: "POST",
                cache: false,
                data: {
                    DropedID: this.dataItem(e.sourceNode).id,
                    ReferenceID: this.dataItem(e.destinationNode).id,
                    DadID: (this.dataItem(e.destinationNode.parentNode) != undefined ? this.dataItem(e.destinationNode.parentNode).id : "0"),
                    Position: e.dropPosition,
                    Department:$('#DepartmentSelector').data("kendoDropDownList").text()
                },
                url: "@(Url.Action("OnDrop" , "Menu"))", beforeSend: function () {
                }
            }).done(function (data) {
                GetAnswerNShowIT(data);
            }).fail(function (data) {
                CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(data), 3);
            });
        }
    }
    function onSelect(e) {
        var tv = $("#treeview").data("kendoTreeView");
        var selectedNode = tv.select();
        var item = tv.dataItem(e.node);
        MenuID = item.id;
        CleanForm($("#CreateMenuForm"), "@(Url.Action("EditMenu" , "Menu"))");
        $("#MenuDepartment").data("kendoDropDownList").value(0);
        $("#AppsFromForm").data("kendoDropDownList").value(0);
        $("#GroupsList").data("kendoListBox").dataSource.read();
        $("#AccessList").data("kendoListBox").dataSource.read();
        $.ajax({
            url: "@(Url.Action("GetMenu" , "Menu"))",
            type: 'POST',
            data: JSON.stringify({
                MenuID: parseInt(MenuID)
            }),
            contentType: 'application/json',
            processData: false,
            success: function (obj) {
                $('#MenuNameEn').val(obj.MenuNameEn);
                $('#MenuNameSp').val(obj.MenuNameSp);
                $('#MenuHref').val(obj.MenuHref);
                $('#MenuIcon').val(obj.MenuIcon);
                var dropdownlist = $("#MenuDepartment").data("kendoDropDownList");
                dropdownlist.value(obj.MenuDepartment);
                var dropdownlist2 = $("#AppsFromForm").data("kendoDropDownList");
                    dropdownlist2.value(obj.AppName);

            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(requestObject), 3);
            }
        });
    }
    function DepartmentChange(e) {
        var dataItem = this.dataItem(e.item);
        GetPartialView("@(Url.Action("ShowMenu" , "Menu"))?DepartmentName=" + dataItem.Text, 'ShowMenu');
        CleanForm($("#CreateMenuForm"), "@(Url.Action("CreateMenu" , "Menu"))");
        $("#MenuDepartment").data("kendoDropDownList").value(0);
        $("#AppsFromForm").data("kendoDropDownList").value(0);
        $("#GroupsList").data("kendoListBox").remove($("#GroupsList").data("kendoListBox").items());
        $("#AccessList").data("kendoListBox").remove($("#AccessList").data("kendoListBox").items());
    }
    $("#CreateMenuForm").submit(function (e) {
         e.preventDefault();
        if ($('#MenuDepartment').data("kendoDropDownList").value().length > 1) {
            if (validator.validate()) {
                 $.ajax({
            url: this.action,
            type: 'POST',
            data: JSON.stringify({
                MenuID: parseInt(MenuID),
                MenuNameEn: $('#MenuNameEn').val(),
                MenuNameSp: $('#MenuNameSp').val(),
                MenuHref: $('#MenuHref').val(),
                MenuIcon: $('#MenuIcon').val(),
                AppName: $('#AppsFromForm').data("kendoDropDownList").text(),
                MenuDepartment: $("#MenuDepartment").data("kendoDropDownList").text()
            }),
            contentType: 'application/json',
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    CleanForm($("#CreateMenuForm"), "@(Url.Action("CreateMenu" , "Menu"))");
                     $("#MenuDepartment").data("kendoDropDownList").value(0);
                     $("#AppsFromForm").data("kendoDropDownList").value(0);
                    GetPartialView("@(Url.Action("ShowMenu" , "Menu"))?DepartmentName=" + $('#DepartmentSelector').data("kendoDropDownList").text(), 'ShowMenu');
                    MenuID == 0;
                    $("#GroupsList").data("kendoListBox").remove($("#GroupsList").data("kendoListBox").items());
                    $("#AccessList").data("kendoListBox").remove($("#AccessList").data("kendoListBox").items());
                }
            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(requestObject), 3);
            }
        });
            }

        }
        else {
            CreateAnswerNShowIt('@BAEClassLibrary.Resources.Select @BAEClassLibrary.Resources.Field @BAEClassLibrary.Resources.AppName', 2);
        }

    });
    function NewMenu() {
        CleanForm($("#CreateMenuForm"), "@(Url.Action("CreateMenu" , "Menu"))");
         $("#MenuDepartment").data("kendoDropDownList").value(0);
        $("#AppsFromForm").data("kendoDropDownList").value(0);
    }

    function addNew(widgetId, value) {
        var widget = $("#" + widgetId).getKendoDropDownList();
        var dataSource = widget.dataSource;
        dataSource.add({
            Value: 0,
            Text: value
        });
        widget.select(dataSource.view().length - 1);
    };
    function onAddList(e) {
        var pvm = [];
        for (var i = 0; i < e.dataItems.length; i++) {
            pvm.push({ Id: e.dataItems[i].Id, Permission: e.dataItems[i].Permission });
        }
        $.ajax({
            url: "@(Url.Action("UpdateMenuAccess" , "Menu"))",
            type: 'POST',
            data: JSON.stringify({
                MenuId: MenuID,
                ListName: e.sender.element.attr("id"),
                pvm: pvm
            }),
            contentType: 'application/json',
            processData: false,
            success: function (obj) {
                GetAnswerNShowIT(obj);
                if (obj.Type[0] == 1) {
                    $("#AccessList").data("kendoListBox").dataSource.read();
                }
            },
            error: function (requestObject, error, errorThrown) {
                CreateAnswerNShowIt('Fail in onCheck  '  + JSON.stringify(requestObject), 3);
            }
        });
    }
    function getWidgetName(e) {
        return  e.sender.element.attr("id");
    }
</script>
