﻿@model IEnumerable<TemplateDemo.Models.Menu>
<div class="demo-section k-content">
    @(Html.Kendo().TreeView()
                  .Name("treeview")
                  .ExpandAll(true)
                    .Checkboxes(true)
                    .DragAndDrop(true)
                     .TemplateId("treeview-template")  
        .Events(events => events
            .Drop("onDrop")
            .Check("onCheck")
            .Select("onSelect")
        )
        .Items(items =>
        {
            foreach (var menu in Model)
            {
                items.Add().Text(menu.AppName!="Separator"? menu.MenuNameSp:"--"+menu.MenuNameSp+"--").Id(menu.MenuID.ToString()).Checked(menu.Active).Items(a =>
                {
                    if (menu.Hijos != null)
                    {
                        foreach (var hijo in menu.Hijos)
                        {
                            a.Add().Text(hijo.AppName!="Separator"? hijo.MenuNameSp:"--"+hijo.MenuNameSp+"--").Id(hijo.MenuID.ToString()).Checked(hijo.Active).Items(b =>
                            {
                                if (hijo.Hijos != null)
                                {
                                    foreach (var hijoo in hijo.Hijos)
                                    {
                                        b.Add().Text(hijoo.AppName!="Separator"? hijoo.MenuNameSp:"--"+hijoo.MenuNameSp+"--").Id(hijoo.MenuID.ToString()).Checked(hijoo.Active).Items(c =>
                                        {
                                            if (hijoo.Hijos != null)
                                            {
                                                foreach (var hijooo in hijoo.Hijos)
                                                {
                                                    c.Add().Text(hijooo.AppName!="Separator"? hijooo.MenuNameSp:"--"+hijooo.MenuNameSp+"--").Id(hijooo.MenuID.ToString()).Checked(hijooo.Active).Items(d =>
                                                    {
                                                        if (hijooo.Hijos != null)
                                                        {
                                                            foreach (var hijoooo in hijooo.Hijos)
                                                            {
                                                                d.Add().Text(hijoooo.AppName!="Separator"? hijoooo.MenuNameSp:"--"+hijoooo.MenuNameSp+"--").Id(hijoooo.MenuID.ToString()).Checked(hijoooo.Active).Items(e =>
                                                                {
                                                                    if (hijoooo.Hijos != null)
                                                                    {
                                                                        foreach (var hijooooo in hijoooo.Hijos)
                                                                        {
                                                                            e.Add().Text(hijooooo.AppName!="Separator"? hijooooo.MenuNameSp:"--"+hijooooo.MenuNameSp+"--").Id(hijooooo.MenuID.ToString()).Checked(hijooooo.Active);
                                                                        }
                                                                    }
                                                                });
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                }

                            });
                        }
                    }
                });

            }
        }))
</div>
<script id="treeview-template" type="text/kendo-ui-template">
    #: item.text #
    # if (!item.items) { #
    <button type="button" class=" delete-link  btn-danger btn-elevate btn-icon btn-xs"><i class="fa fa-trash-alt"></i></button>
    # } #
</script>
